*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}
/* start */
.banner{
    display: flex;
    position: relative;
}
.banner-img{
    width: 1347px;
}
/* banner texts */
.banner-All-Text{
    position: absolute;
    top: 200px;
    right: 150px;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    color:  #FFFFFF;
    white-space: pre-line;
    
}
.banner-description{
    font-size: 16px;
    color:  #FFFFFF;
    white-space: pre-line;
    
}
.banner-btn{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    border: none;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    margin-top: 63px;
    margin-left: 250px;
}
/* article start */
.first-article{
    margin: 131px 200px 130px 200px;
    display: flex;
    justify-content: center;align-items: center;
}
.person-img img{
    width: 500px;
    margin-right: 50px;
}
.person-text-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.person-text-description{
    color: #444343;
    margin-top: 24px;
}
.check-talk{
    margin-top: 16px;
    color: #444343;
}
.fa-check{
    margin-bottom: 8px;
    color: greenyellow;
    font-size: 24px;
    margin-right: 14px;
}
/* second article start */
.second-article{
    margin: 131px 50px 130px 50px;
}
.second-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}
.All-plans{
    display: flex;
    justify-content: center;align-items: center;
    gap: 75px;
}
.WD,.JS,.SH,.EC{
    text-align: center;
}
.plan-title{
    font-weight: 700;
    font-size: 30px;
}
.plan-2-title{
    color: #737272;
    margin-top: 16px;
    font-size: 25px;
}
/* third article */
.third-article{
    margin: 130px 130px 130px 110px;
    padding: 100px;
    background-image: url("images/gradient1.png"),url("images/watch.png");
    background-repeat: no-repeat;
    background-position: 0,left;  
}
.text{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
.call-btn{
    color: #005FAC;
    width: 160px;
    height: 64px;
    border: none;
    margin-top: 24px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}
/* footer start */
footer{
    background-color: #151414;
}
.last-part{
    margin: 0px 230px;
    display: flex;
    justify-content: space-between;
}
.footer-text-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 45px;
    margin-top: 130px;
}
.footer-text-description{
    margin-top: 16px;
    color: #FFFFFF;
    margin-bottom: 27px;
}
.footer-informations{
    color: #FFFFFF;
}
.footer-informations img{
    width: 37px;
    height: 36px;
    padding-right: 17px;
}
.unsocial{
    display: flex; 
}
.footer-subscription input{
    width: 305px;
    height: 54px;
    background-color: #00000000;
    border: #FFFFFF 1px solid;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 16px;
}
.subs{
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 130px;
    margin-bottom: 31px;
}
.subs-btn{
    width: 170px;
    height: 64px;
    background-color: #005FAC;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 17px;
}



